/* Container principal */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Estilo para logo */
.logo {
  height: 6em;
  padding: 1.5em;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em var(--color-primary));
}

/* Cartões e seções */
.card {
  padding: 2em;
}

/* Texto auxiliar */
.read-the-docs {
  color: #888;
}
